.DS_Store
/.vscode
/.idea
/gin-bin
/vendor
/cfg/config.json
/cfg/dev.json
/cfg/testing.json
/cfg/temp*
/bin
/teak
/.scannerwork/
/coverage.out
/report.json
/teak.db
/teak_test.db
/log
Dockerfile-*
kubestaging*

# For Development Testing Only
test.go
